.ipynb_checkpoints
agro-data
agro-data.ipynb
climaymeteorologia.ipynb
estimaciones-agro.ipynb
fitosanitario-data.ipynb
ganaderia-data.ipynb

avicola
clima-meteorologia
cultivos
fitosanitario
ganaderia
estimaciones-agricolas




